

.uk-card
{
  width: 175px !important;
  height: 175px;
/*  width: 100%;
  height: 100%;*/
  margin-bottom: 1.1em;
  margin-top: 1.1em;
  padding: 10px;

  display: inline-block;
  transition: all .2s ease-in-out;
}



.uk-card:hover
{
 
  transform: scale(1.1); 

}

.cardContainer
{
  text-align: center;
  padding: 0;
}

img
{
  width: 100%;
  height: 100%;
 
}

